<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <a class="btn btn-success pull-right" href="#/notes/new">New</a>
        </div>
        <br>
        <div class="row">
            <ul class="list-group">
                <li ng-repeat="note in notes track by note._id" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <span class="pull-right">
                            <a class="btn btn-info btn-xs" href="#/notes/{{note._id}}"><i class="fa fa-pencil"></i></a>
                        </span>
                        <span ng-repeat="verb in note.vocabularies">{{verb}}{{$last ? '' : ','}}</span>
                    </h4>
                    <p class="small">{{note.body}}</p>
                    <div>
                        <span ng-repeat="tag in note.tags">
                            <span class="label label-success" >{{tag}}</span>
                        </span>
                        <span class="pull-right">
                            <a class="btn btn-danger btn-xs" ng-click="deleteNote(note._id)"><i class="fa fa-trash"></i></a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
